
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Kalam,sans-serif;
}

body,html,#root{
    width: 100vw;
    height: 100vh;
    background-color: #00e9fb;
}

button{
    cursor: pointer;
}

input:focus,button:focus{
    outline: 0;
}