
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Kalam,sans-serif;
}

body,html,#root{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom,#00c4fd,#00e9fb);
}


input:focus{
    outline: 0;
}