.home-page-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 80px 1fr 40px;
}

.main-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.search-group {
  transition: 500ms;
  display: flex;
}

.search-input {
  width: 500px;
  margin-right: 8px;
}

@media (max-width: 650px) {
  .search-input {
    width: 350px;
  }
}
