.home-page-container{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between   ;
    align-items: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;

}
.search-group{
   transition: 500ms;
   /* flex: ; */
}